.photoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: stretch;
  justify-items: center;
  margin-top: 75px;
}

.photoContainer2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  justify-items: center;
  margin-top: 75px;
}
.photoContainer4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: stretch;
  justify-items: center;
  margin-top: 75px;
}

.photoContainer a:hover {
  background-color: white;
}

.imgTitle {
  font-size: 10px;
  color: gray;
  word-wrap: break-word;
  text-align: center;
  width: 150px;
  margin-bottom: 30px;
}

.pagenationButtons {
  height: 5px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 5em;
  margin-bottom: 0.5em;
}

.pagenationButtons a {
  padding: 7px;
  margin: 5px;
  color: #3d405b;
}

.pagenationPreviousLink a {
  text-decoration: none;
}

.pagenationNextLink {
  text-decoration: none;
}

.pagenationActive a {
  color: #e07a5f;
  font-weight: 900;
}

.pagenationDisabled {
  color: lightgray;
}

.columnsIcons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 40px;
}

svg {
  font-size: 30px;
  color: #3d405b45;
}

a:hover {
  background-color: white;
}

button {
  padding: 10px;
  background-color: white;
  border: none;
  background-color: #3d405b17;
  margin: 5px;
  width: 40px;
}

@media only screen and (max-width: 430px) {
  .photoContainer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: stretch;
    justify-items: center;
    margin-top: 75px;
  }

  .columnsIcons {
    display: none;
  }

  .pagenationButtons a {
    padding: 3px;
    margin: 3px;
    color: #3d405b;
  }
}
