@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

h2 {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

h2 span {
  background: #fff;
  padding: 0 10px;
  font-family: 'Ubuntu', sans-serif;
}
