@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

h2 {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
  margin-bottom: -80px;
}

h2 span {
  background: #fff;
  padding: 0 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
}

@media only screen and (min-width: 430px) and (max-width: 770px) {
  h2 {
    margin-top: 5px;
    font-size: 1em;
    line-height: 0.4;
  }

  h2 span {
    margin-top: 5px;
    font-size: 1em;
  }
}

@media only screen and (max-width: 430px) {
  h2 {
    margin-top: 5px;
    border: none;
    font-size: 1.4em;
    font-size: 0.5em;
  }
  h2 span {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.4em;
    border: none;
  }
}
