@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');

.header {
  display: flex;
  justify-content: center;
  font-family: 'Fredoka', sans-serif;
  font-size: 2em;
  padding: 0;
  margin-top: 0;
  color: #3d405b;
}

.titleEnd {
  color: #e07a5f;
}

/*tablet*/
@media only screen and (min-width: 600px) and (max-width: 800px) {
  h1 {
    font-size: 1.5em;
  }
}

/*mobile phone*/
@media only screen and (max-width: 630px) {
  .header {
    margin-top: 2%;
  }

  h1 {
    font-size: 1em;
  }
}
